# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы сборки
build/
*.spec

# Дистрибутивы
# dist/ # Раскомментируй, если не хочешь включать папку dist в репозиторий

# Другие временные файлы
.DS_Store
.idea/
.vscode/
*.swp
*.swo
